<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ray.project">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 操作外部存储设备 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取外部存储设备 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--摄像头相关权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--定位相关权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

<!--    <uses-feature android:name="android.hardware.telephony" android:required="false" />-->
<!--    <uses-permission android:name="android.com.baidu.lbsapipermission.REQUEST_INSTALL_PACKAGES"/>-->
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>-->
<!--    <uses-permission android:name="android.permission.READ_PROFILE"/>-->
<!--    <uses-permission android:name="android.permission.READ_CONTACTS"/>-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:name="com.ray.project.config.ProjectApplication"
        tools:targetApi="m">

        <!-- 多渠道打包 -->
        <meta-data
            android:name="BAIDU_CHANNEL_VALUE"
            android:value="${BAIDU_CHANNEL_VALUE}" />

        <activity
            android:name="com.ray.project.ui.AppStart"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ray.project.ui.MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="com.ray.project.ui.WebViewActivity"
            android:theme="@style/AppTheme">
        </activity>

        <!--authorities：app的包名.fileProvider （fileProvider可以随便写）,上面采用的是gradle的替换直接写成包名也可以，但是推荐这种方式，多渠道分包的时候不用关心了-->
        <!--grantUriPermissions：必须是true，表示授予 URI 临时访问权限-->
        <!--exported：必须是false-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- 照片选取 -->
        <activity
            android:name="com.photo.select.ImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImageSelectorTheme"/>
        <activity
            android:name="com.photo.select.preview.MultiImgShowActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImageShowTheme">
        </activity>
        <!-- 图片预览 -->
        <activity
            android:name="com.ray.project.ui.basis.image.ImageViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <service
            android:name="com.ray.project.services.InstallerHelperService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":BackgroundService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibility service"
                android:resource="@xml/accessibility_config" />
        </service>
    </application>
</manifest>
